<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>ANTIJOURNAL</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Baskervville-Italic.ttf</string>
		<string>Baskervville-Regular.ttf</string>
		<string>CedarvilleCursive-Regular.ttf</string>
		<string>Festive-Regular.ttf</string>
		<string>Montserrat-Italic-VariableFont_wght.ttf</string>
		<string>Montserrat-VariableFont_wght.ttf</string>
		<string>PatrickHand-Regular.ttf</string>
		<string>PTSans-Italic.ttf</string>
		<string>PTSans-Regular.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Satisfy-Regular.ttf</string>
		<string>SourceSansPro-Regular.ttf</string>
		<string>Bangers-Regular.ttf</string>
		<string>Calibri Bold.TTF</string>
		<string>Calibri Regular.ttf</string>
		<string>GFSNeohellenic-BoldItalic.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>MyGreekFont.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Rubik-VariableFont_wght.ttf</string>
		<string>SendFlowers-Regular.ttf</string>
		<string>times new roman italic.ttf</string>
		<string>DancingScript-Regular.ttf</string>
		<string>NotoSerifHebrew-VariableFont_wdth,wght.ttf</string>
		<string>Bonbon-Regular.ttf</string>
		<string>Bongos2-2vp3.ttf</string>
		<string>Wingdings.ttf</string>
		<string>Bonbon.ttf</string>
		<string>Baskervville-I.ttf</string>
		<string>Baskervville.ttf</string>
		<string>Calibri.ttf</string>
		<string>Cursive.ttf</string>
		<string>Dancing.ttf</string>
		<string>Festive.ttf</string>
		<string>Montserrat-B.ttf</string>
		<string>Montserrat.ttf</string>
		<string>PatrickHand.ttf</string>
		<string>PTSans-I.ttf</string>
		<string>PTSans.ttf</string>
		<string>Roboto-B.ttf</string>
		<string>Roboto.ttf</string>
		<string>Satisfy.ttf</string>
		<string>SourceSans.ttf</string>
		<string>times-italic.ttf</string>
	</array>
</dict>
</plist>
